html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5EDED;
  overflow-x: hidden;
}

div{
  display: block;
  unicode-bidi: isolate;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #134B70;
  color: white;
  z-index: 1000;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

.main-content {
  /* flex: 1; */
  text-align: center;
  max-width: 100%; 
}

footer {
  background-color: #333;
  color: white;
  background-color: #134B70;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

footer a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
